<div class="pagination">

    <% if (currentPage > 1) { %>
        <a href="/?page=<%= currentPage - 1 %>">Prev</a>
    <% } %>

    <% for (let i = 1; i <= totalPages; i++) { %>
        <a 
            href="/?page=<%= i %>" 
            class="<%= currentPage === i ? 'active' : '' %>"
        >
            <%= i %>
        </a>
    <% } %>

    <% if (currentPage < totalPages) { %>
        <a href="/?page=<%= currentPage + 1 %>">Next</a>
    <% } %>

</div>